$primary: #101820
$secondary: #FEE715
$white: #fefefe
$lightWhite: #FFF4C0
// $enable-cssgrid: true

$theme-colors: ("primary": $primary,"secondary": $secondary)

@import 'bootstrap'

body
    font-family: 'Nunito Sans', sans-serif
    font-weight: 500
    font-size: 18px
    background-color: $primary
    color: white

a
    text-decoration: none
    color: inherit
    &:hover
        text-decoration: none
        color: inherit

.copy
    text-decoration: underline
    cursor: pointer
    &:hover
        text-decoration: none

h1,h2,h3,h4,h5,h6
    color: inherit
    font-weight: 500

main
    overflow: hidden

.notifyjs-bootstrap-base
    background-position: 8px center !important
    padding: 8px 15px 8px 30px !important

img[src=""]
    display: none

@import 'fund'
@import 'bttn'
@import 'header'
@import 'pages/main'
@import 'list-item'
@import 'slider'
@import 'fundlist'
@import 'block'
