.fundlist, .fundlist__content
    background-color: $primary
    border-radius: 15px
    overflow: hidden
    color: $secondary
    box-shadow: 10px 10px 0 rgba(lighten($primary, 10%), .3)
.fundlist
    &__progress
        display: flex
        align-items: center
        div
            display: inline-flex
            align-items: center
            justify-content: center
            position: relative
            background-color: #fff
            height: 10px
            span
                transform: translateX(-50%)
                position: absolute
                left: 100%
                bottom: calc(100% + 5px)
                background-color: #fff
                display: flex
                align-items: center
                justify-content: center
                padding: 10px
                color: $primary
    &__content
        padding: 15px
        img
            border-radius: 15px
            margin-bottom: 15px
            box-shadow: 10px 10px 0 rgba(lighten($secondary, 10%), .3)
    table
        padding: 15px
        width: 100%
        text-align: center
        th, td
            padding: 10px
            img
                max-width: 100%
        th
            width: 30%
        td
            width: 35%
        tr
            background-color: $primary
            transition: all 0.3s ease-out
            &:hover
                background-color: lighten($primary, 10%)
        .description, thead tr
            background-color: lighten($primary, 10%)
            .item-gallary
                width: 240px
