.list-item
    padding: 30px
    background-color: darken($primary, 10%)
    border-radius: 15px
    &__title
        font-size: 26px
        font-weight: 700
        line-height: 1.2
    &__preview
        img
            border-radius: 10px
    &__date
        font-size: 14px
        font-weight: 300
        margin-left: 15px
    &__progress
        background-color: $lightWhite
        border-radius: 100px
        overflow: hidden
        width: 100%
        margin-bottom: 15px
        display: flex
        align-items: center
        div
            display: inline-block
            background: lighten($primary, 5%)
            height: 20px
            border-top-right-radius: 50px
            border-bottom-right-radius: 50px
